[Unit]
Description=YOLO Dev Inference API Service
After=network.target

[Service]
User=ubuntu

ExecStart=/home/ubuntu/YoloService/venv/bin/python3 /home/ubuntu/YoloService/app.py
WorkingDirectory=/home/ubuntu/YoloService

Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

